<%= form_with(model: poblation, local: true) do |form| %>
  <% if poblation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poblation.errors.count, "error") %> prohibited this poblation from being saved:</h2>

      <ul>
      <% poblation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
